include README.md
include LICENSE
include pyproject.toml
recursive-include velox *.py
recursive-include velox/templates *
recursive-include velox/static *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
